<div class="container">
    <button class="btn" (click)="goBack()">
        <span style="font-size: 50px; color: tomato;" id="titleIcon">
            <i class="fad fa-arrow-circle-left"></i>
        </span>
    </button>
    
    <div class="card shadow-lg" data-aos="fade-up" data-aos-duration="1000">
        <div class="card-body p-5">
            <h1 class="my-4">
                Developer's Note
                <span style="color: rgb(238, 104, 209);" id="titleIcon">
                    <i class="fad fa-laugh-beam"></i>
                </span>   
            </h1>

            <p class="fs-3 badge bg-primary text-wrap" style="width: 260px;">Hello dear visitor.</p>

            <p class="fs-3 text-break">Welcome to my <u>portfolio site</u>. My Name is Xingyuan Zhu. I graduated from the <mark>University of Toronto Computer Science Department, specializing in the software engineering stream</mark>. I have rich experience in developing website both <span class="fw-bold">frontend</span> and <span class="fw-bold">backend</span>. This website is made for you to <span style="text-decoration-line: underline; text-decoration-style: wavy;">view my projects and get to know about me</span>. I love to make friends and happy to join your company to work. Please, if you are interested in me, contact me though my email address <span class="text-decoration-underline">at the bottom of the homepage or on my resume</span>. I am looking forward to know you too!</p>
        </div>

       
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center px-3 py-3 fixed-bottom" id="copyright">
    <p class="text-light"> Copyright © 2021 - Xingyuan Zhu</p>
</div>