<div class="container pb-5">
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn" (click)="goBack()">
            <span style="font-size: 50px; color: tomato;" id="titleIcon">
                <i class="fad fa-arrow-circle-left"></i>
            </span>
        </button>
    
        
    </div>
    <div class="card shadow-lg" data-aos="fade-up" data-aos-duration="1000">
        <div class="card-body pb-3">
            <h1>
                Resume
                <span style="color: rgb(238, 104, 209);" id="titleIcon">
                    <i class="fad fa-file-word"></i>
                </span>   
            </h1>

            <p></p>
        </div>

        <p class="text-center fw-bold fs-1">Xingyuan Zhu</p>
        <p class="text-center fs-5">70 Town Center,  Scarbourgh,  ON, M1P0B2</p>
        <p class="text-center fs-5">Email: zhuxingyuan.jobs@outlook.com   |  Phone: 4168346842</p>

        <p class="text-start fw-bold fs-4 pl-3">Skills</p>
        <div class="h-divider"></div>
        <p class="text-start fw-bold fs-4 pl-3">Academic/Technical</p>
        <ul class="fs-5">
            <li>Proficient in coding with MySQL, MongoDB, Node.js, JavaScript, Java, Python, and C++ from past work experience, in school projects, robotic programming and professional education.</li>
            <li>Adaptive Programming skilled in JavaScript API and Java API to meet different project needs.</li>
            <li>Experienced at different IDEs: IntelliJ, Eclipse, Postman, Wireshark, CodeRunner and Visual Studio Code.</li>
            <li>Skilled in different web platforms such as HTML, CSS, Bootstrap, DigitalOcean, Azure, Unix Commands, Figma and Docker.</li>
        </ul>
        <p class="text-start fw-bold fs-4 pl-3">Interpersonal</p>
        <ul class="fs-5">
            <li>Outstanding communication skill and problem-solving ability to solve challenges.</li>
            <li>Excellent time management and multitasking skills to finish multiple software projects simultaneously.</li>
            <li>Proficient in speaking and writing in English and Mandarin developed in school clubs’ events and past volunteer experience.</li>
        </ul>

        <p class="text-start fw-bold fs-4 pl-3">Education</p>
        <div class="h-divider"></div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="text-start fw-bold fs-4 pl-3">University of Toronto</p>
            <p class="text-start fs-4 pr-3"> September 2016 – Present</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="text-start fw-bold fs-4 pl-3">Candidate, Honours Bachelor of Science</p>
            <p class="text-start fs-4 pr-3">Expected Grad Date: August 2021</p>
        </div>
        
        <ul class="fs-5">
            <li>Specialist Program in Computer Science (Software Engineering Stream)</li>
        </ul>

        <p class="text-start fw-bold fs-4 pl-3">Work Experience</p>
        <div class="h-divider"></div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="text-start fs-4 pl-3">Web Developer, <strong>Face2Face Home Church</strong></p>
            <p class="text-start fs-4 pr-3"> August 2020 - January 2021</p>
        </div>
        
        <ul class="fs-5">
            <li>Developed the official website for Face2Face Community, which can process, store and retrieve information such as videos, images, blogs.</li>
            <li>Integrated HTML, CSS, Bootstrap and Font Awesome to the frontend designs such as lightbox, animation, emoticons.</li>
            <li>Used various JavaScript API, Node.js and MongoDB to send emails, store and manage local files.</li>
            <li>Implemented DigitalOcean as the cloud platform and Nginx as the server.</li>
            <li>Met deadlines as well as completed other tasks such as prepared project process report, learned additional programing skills.</li>
            <li>Advised colleagues and assisted consumers on website recommendations.</li>
            <li>
                Website Link:
                <a href="https://www.face2facehomechurch.com:3000/">
                    Link
                    <i class="fad fa-link"></i>
                </a>
                
            </li>
        </ul>

        <p class="text-start fw-bold fs-4 pl-3">Projects</p>
        <div class="h-divider"></div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="text-start fst-italic fs-4 pl-3">Mr. News</p>
            <p class="text-start fs-4 pr-3"> January 2020 – April 2020 </p>
        </div>
        <ul class="fs-5">
            <li>Co-developed Mr. News, a website which it could automatically gather RSS Feeds from different news websites such as Yahoo News, BBC.</li>
            <li>Led all the User Interface design and backend connection using MongoDB.</li>
            <li>Used Azure as the cloud platform and server.</li>
            <li>
                The description of the website:
                <a href="https://www.youtube.com/watch?v=GX1LuexNrVI&t=30s&ab_channel=wdtjx95">
                    Link
                    <i class="fad fa-link"></i>
                </a>
                
            </li>
        </ul>

        <div class="d-flex justify-content-between align-items-center">
            <p class="text-start fst-italic fs-4 pl-3">MyBnB</p>
            <p class="text-start fs-4 pr-3">June 2019 - July 2019</p>
        </div>
        <ul class="fs-5">
            <li>Co-developed a Java and MySQL based application similar to Airbnb, where users saved their information, searched for renter’s listing, booked appointment for open house.</li>
            <li>Led all the backend design and the Java frontend connection with the database.</li>
            <li>Used Azure as the cloud platform and server.</li>
            <li>
                The code
                <a href="https://github.com/TylarZhu/CSCC43Project">
                    Link
                    <i class="fad fa-link"></i>
                </a>
                
            </li>
        </ul>

        <p class="text-start fw-bold fs-4 pl-3">Volunteer Experience</p>
        <div class="h-divider"></div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="text-start fs-4 pl-3">Volunteer, <strong>First Alliance Church</strong></p>
            <p class="text-start fs-4 pr-3"> November 2019 – December 2019</p>
        </div>
        
        <ul class="fs-5">
            <li>Led team members organized the Christmas worship event which involved 33 people. It include planning games and preparing dinner.</li>
        </ul>

        <div class="d-flex justify-content-between align-items-center">
            <p class="text-start fs-4 pl-3">Volunteer, <strong>Sherbrooke Community Center</strong></p>
            <p class="text-start fs-4 pr-3"> September 2015 – October 2015</p>
        </div>
        
        <ul class="fs-5">
            <li>Helped local community workers to paint houses’ walls and participated in a welcoming event for 22 elderlies who just moved into the town.</li>
        </ul>
        
        <a class="grid align-items-center align-self-center" style="text-align: center;" href="./assets/MyResume.docx" download="MyResume.docx">
            <div class="row">
                <span style="font-size: 50px; color: rgb(71, 157, 255);" id="titleIcon">
                    <i class="fad fa-arrow-to-bottom"></i>
                </span>
            </div>
            <div class="row">
                <h5 class="text-primary"> Download Resume (.docx) </h5>
            </div>
            
        </a>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center px-3 py-3" id="copyright" >
    <p class="text-light"> Copyright © 2021 - Xingyuan Zhu</p>
</div>